In [1]:
# ImportingLibraries
import pandas as pd
import numpy as np

In [2]:
# importing webdriver
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium.webdriver.common.by import By

In [3]:
# importing time
import time

In [4]:
#importing requests
import requests

In [5]:
# importing exceptions
from selenium.common.exceptions import NoSuchElementException,StaleElementReferenceException,ElementNotInteractableException

In [6]:
# importing webdriverwait
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [7]:
# connecting webdriver.
driver=webdriver.Chrome(r"C:\Users\sony\Desktop\Data Trained/chromedriver.exe")
driver.get

C:\Users\sony\AppData\Local\Temp\ipykernel_14864\3454712579.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(r"C:\Users\sony\Desktop\Data Trained/chromedriver.exe")

In [34]:
#1. Scrape the details of most viewed videos on YouTube from Wikipedia.
# Getting the URL

#Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [13]:

Details=[]
table=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]')
for i in table[0:2]:
    table=i.text.split(",")
    Details.append(table)

In [19]:

df=pd.DataFrame(Details)
df

,0,1,2,3,4,5,6,7,8,9,...,69,70,71,72,73,74,75,76,77,78
0,Top 30 most-viewed YouTube videos[3]\nNo. Vide...,"2016 [A]\n2. ""Despacito""[7] Luis Fonsi 8.1 Ja...","2017 [B]\n3. ""Johny Johny Yes Papa""[14] LooLo...","2016 [C]\n4. ""Bath Song""[15] Cocomelon – Nurs...","2018 [D]\n5. ""Shape of You""[16] Ed Sheeran 5....","2017 [E]\n6. ""See You Again""[18] Wiz Khalifa ...","2015 [F]\n7. ""Phonics Song with Two Words""[23...","2014 [G]\n8. ""Wheels on the Bus""[24] Cocomelo...","2018\n9. ""Uptown Funk""[25] Mark Ronson 4.82 N...","2014 [H]\n10. ""Learning Colors – Colorful Egg...",...,None,None,None,None,None,None,None,None,None,None
1,Progression of the most-viewed video on YouTub...,046,700,000 June 17,2016 November 2,"2020 1600 825\n""Despacito""[7] Luis Fonsi 2",993,700,000 January 12,2017 August 4,...,"2006 22 12 no data [99]\n""Ronaldinho: Touch o...",000 October 21,2005 October 31,"2005 10 70 no data [101] [S]\n""I/O Brush""‡*[1...",000 October 5,2005 October 29,"2005 24 2 no data [104]\n""Me at the zoo""[105]...",2005 April 23,2005 0 189 [106]\nAs of February 5,2023

In [48]:
#2.getting the URL
driver.get("https://www.bcci.tv/")

In [49]:
# clicking the International Tab
International=driver.find_element(By.XPATH,'/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a')
International.click()

In [50]:
# clicking the more_fixtures button
more_fixtures=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button')
more_fixtures.click()

In [138]:
# Getting ODI Details
First_ODI=[]
Name=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
for i in Name[8:11]:
    Name=i.text
    First_ODI.append(Name)

In [139]:
First_ODI

['AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23',
 'AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23',
 'AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23']

In [136]:
#Getting ODI PLace
Match_Place=[]
place=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
for i in place[8:11]:
    place=i.text
    Match_Place.append(place)

In [137]:
Match_Place

['1st ODI - Wankhede Stadium, Mumbai',
 '2nd ODI - Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium, Visakhapatnam',
 '3rd ODI - MA Chidambaram Stadium, Chennai']

In [76]:
# Getting ODI Dates:
Date=[]
date=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
for i in date[8:11]:
    date=i.text
    Date.append(date)

In [77]:
Date

['17 MAR 2023', '19 MAR 2023', '22 MAR 2023']

In [83]:
# Getting ODI Time
Match_time=[]
time=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
for i in time[8:11]:
    time=i.text
    Match_time.append(time)

In [84]:
Match_time

['12:00 PM GST', '12:00 PM GST', '12:00 PM GST']

In [125]:
# Getting SERIES 
Match_Series=[]
series=driver.find_elements(By.XPATH,'//div[@class="fixture-card-mid d-flex align-items-center justify-content-between"]')
for i in series[8:11]:
    series=i.text
    Match_Series.append(series)

In [127]:
len(Match_Series)

3

In [142]:
# DataFrame constructed for Match ODI
df=pd.DataFrame({"Match_Title":First_ODI,"Match_Series":Match_Series,"Match_place":Match_Place,"Match_Date":Date})
df

,Match_Title,Match_Series,Match_place,Match_Date
0,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,India\nvs\nAustralia,"1st ODI - Wankhede Stadium, Mumbai",17 MAR 2023
1,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,India\nvs\nAustralia,2nd ODI - Dr YS Rajasekhara Reddy ACA-VDCA Cri...,19 MAR 2023
2,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,India\nvs\nAustralia,"3rd ODI - MA Chidambaram Stadium, Chennai",22 MAR 2023

In [37]:
# Get the URL 
driver.get("http://statisticstimes.com/")

In [38]:
# clicking Economy Tab on it.
economy_button=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button/i')
economy_button.click()

In [39]:
# clicking Economy India Tab on it
economy_India=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
economy_India.click()

In [41]:
# selecting GDP_Statewise_India list by clicking on it.
GDP_statewise_India=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
GDP_statewise_India.click()

In [50]:
# Scrapping Rank
Rank=[]
rank=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]//tbody//tr//td[1]')
for i in rank:
    rank=i.text
    Rank.append(rank)

In [51]:
len(Rank)

66

In [48]:
#Scrapping Name
State_name=[]
name=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]//tbody//tr//td[2]')
for i in name:
    name=i.text
    State_name.append(name)

In [49]:
len(State_name)

66

In [42]:
GSDP_18_19_current=[]
gsdp=driver.find_elements(By.XPATH,'//td[@class="data sorting_1"]')
try:
    for i in gsdp:
        gsdp=i.text
        GSDP_18_19_current.append(gsdp)
except NoSuchElementException :
     GSDP_18_19_current.append('-')

In [43]:
len(GSDP_18_19_current)

66

In [21]:
p=[]
q=[]
r=[]

In [45]:
GSDP_18_19_current_prices=[]
try:
    data=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]//tbody//tr//td[3]')
    for i in data:
        data=i.text
        GSDP_18_19_current_prices.append(data)
except NoSuchElementException:
    GSDP_18_19_current_prices.append('-')

In [47]:
len(GSDP_18_19_current_prices)

66

In [52]:
Share_18_19=[]
try:
    share=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]//tbody//tr//td[5]')
    for i in share:
        share=i.text
        Share_18_19.append(share)
except NoSuchElementException :
    Share_18_19.append('-')

In [54]:
len(Share_18_19)

66

In [55]:
GDP_Billion=[]
try:
    gdp=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]//tbody//tr//td[6]')
    for i in gdp:
        gdp=i.text
        GDP_Billion.append(gdp)
except NoSuchElementException:
    GDP_Billion.append('-')

In [56]:
# DataFrame Formed
Statewise_GDP=pd.DataFrame({'State_Rank':Rank,'State_Names':State_name,'GSDP_18_19_current_prices':GSDP_18_19_current_prices,
                          'Share_18_19':Share_18_19,'GDP_$_Billion':GDP_Billion })
Statewise_GDP

,State_Rank,State_Names,GSDP_18_19_current_prices,Share_18_19,GDP_$_Billion
0,1,Maharashtra,-,13.94%,399.921
1,2,Tamil Nadu,"1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818",8.39%,240.726
3,4,Gujarat,-,7.96%,228.290
4,5,Karnataka,"1,631,977",7.91%,226.806
...,...,...,...,...,...
61,29,Sikkim,"28,391",0.15%,"17,060"
62,30,Nagaland,-,0.15%,-
63,31,Arunachal Pradesh,-,0.13%,-
64,32,Mizoram,"24,424",0.13%,"17,797"
65,33,Andaman & Nicobar Islands,-,-,-

In [8]:
# getting Url
driver.get("https://www.github.com")
time.sleep(5)

In [9]:
open_source=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
open_source.click()

In [10]:
# Inside open_source,trending button is elementNot Interactable tried with exception,still couldnot able to click on that so used for loop to see all the links of that.
Trending=[]
trending=driver.find_elements(By.XPATH,'//a[@class="HeaderMenu-dropdown-link lh-condensed d-block no-underline position-relative py-2 Link--secondary"]')
for i in trending:
    trending=i.get_attribute("href")
    Trending.append(trending)

In [11]:
# List of elementsin open_source drop down button
Trending

['https://github.com/features',
 'https://docs.github.com/',
 'https://skills.github.com/',
 'https://github.blog/',
 'https://github.com/enterprise',
 'https://github.com/team',
 'https://github.com/enterprise/startups',
 'https://education.github.com/',
 'https://github.com/solutions/ci-cd/',
 'https://resources.github.com/devops/',
 'https://resources.github.com/devops/fundamentals/devsecops/',
 'https://github.com/customer-stories',
 'https://resources.github.com/',
 'https://github.com/topics',
 'https://github.com/trending',
 'https://github.com/collections']

In [12]:
len(Trending)

16

In [13]:
for i in Trending:
    if i=="https://github.com/trending":
        driver.get(i)

In [14]:
Repositry_title=[]
title=driver.find_elements(By.XPATH,'//span[@class="text-normal"]')
for i in title:
    title=i.text
    Repositry_title.append(title)

In [15]:
len(Repositry_title)

25

In [16]:
Repositry_Description=[]
det=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
for i in det:
    det=i.text.split("/")[1]
    Repositry_Description.append(det)

In [17]:
len(Repositry_Description)

25

In [22]:
count=[]

det=driver.find_elements(By.XPATH,'//span[@class="d-inline-block mr-3"]')
for i in det:
    det=i.text
    count.append(det)

In [24]:

len(count)

25

In [25]:
Languages=[]
det=driver.find_elements(By.XPATH,'//div[@class="f6 color-fg-muted mt-2"]')
for i in det:
    det=i.text.split(" ")[0]
    Languages.append(det)

In [26]:
len(Languages)

25

In [28]:
cc=[]

In [29]:
repositry=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]//a')
for i in repositry:
    repositry=i.get_attribute("href")
    cc.append(repositry)

In [35]:
len(cc)

25

In [67]:
contributor_count=[]
for i in cc:
    driver.get(i)
    time.sleep(5)
    try:
        count=driver.find_elements(By.XPATH,'//h2[@class="h4 mb-3"]')
        for i in count[2:3]:
            count=i.text
            contributor_count.append(count)
    except NoSuchElementException:
        contributor_count.append('-')

In [77]:
len(contributor_count)

25

In [78]:

Github=pd.DataFrame({"Repositry_title":Repositry_title,"Repositry_Description":Repositry_Description,'Languages':Languages,'contributor_count':contributor_count})
Github

,Repositry_title,Repositry_Description,Languages,contributor_count
0,acikkaynak /,deprem-yardim-backend-go,Go,Contributors 16
1,cloudflare /,wildebeest,TypeScript,Contributors 2
2,jaymody /,picoGPT,Python,Used by 672
3,eliaszon /,Programmers-Overseas-Job-Interview-Handbook,"2,250",Packages 6
4,uutils /,coreutils,Rust,Contributors 3
5,rustdesk /,rustdesk,Rust,Used by 5.5k
6,MichalGeyer /,plug-and-play,Python,Languages
7,pedroslopez /,whatsapp-web.js,JavaScript,Contributors 25
8,djun /,wechatbot,Go,Languages
9,fuergaosi233 /,wechat-chatgpt,TypeScript,Packages
10,TheD1rkMtr /,FilelessPELoader,C++,Used by 113
11,eryajf /,chatgpt-dingtalk,Go,Used by 2
12,aquasecurity /,trivy,Go,Languages
13,ethereum-optimism /,op-analytics,54,Contributors 6
14,nerfstudio-project /,nerfstudio,Python,Used by 13
15,AIGCT /,EASYChatGPT,Python,Contributors 20
16,leminlimez /,Cowabunga,Swift,Languages
17,PlexPt /,chatgpt-java,Java,Languages
18,Shopify /,hydrogen,TypeScript,Contributors 7
19,Fndroid /,clash_for_windows_pkg,"44,694",Contributors 3
20,f /,awesome-chatgpt-prompts,HTML,Contributors 18
21,enhuiz /,vall-e,Python,-
22,zhayujie /,chatgpt-on-wechat,Python,-
23,Leizhenpeng /,feishu-chatGpt,Go,-
24,activepieces /,activepieces,TypeScript,-

In [76]:
driver.get("https:/www.billboard.com/")# Getting URL

In [77]:
charts=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts.click()# Clicking Chart

In [79]:
Billboard_hot_100=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[3]/div/div/div[2]/div/div[1]/a/span/span')
Billboard_hot_100.click()# Clicking Billboard_hot_100

In [80]:
peak_rank=[]
rank=driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]')
for i in rank:
    rank=i.text
    peak_rank.append(rank)

In [81]:
len(peak_rank)

100

In [83]:
Song_name=[]# Scrapping Song_Name
first_song=driver.find_element(By.XPATH,'/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[1]/h3')
first_song.text
Song_name.append(first_song.text)
name=driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in name:
    name=i.text
    Song_name.append(name)

In [84]:
len(Song_name)

100

In [85]:
Artists_name1=[]# Scrapping Artist Name

In [86]:
firstsong_artist_name=driver.find_element(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]')
Artists_name1.append(firstsong_artist_name.text)
ar_name=driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in ar_name:
    ar_name=i.text
    Artists_name1.append(ar_name)

In [87]:
len(Artists_name1)

100

In [163]:
Det=[]
det=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max lrv-u-flex-grow-1"]')
for i in det:
    det=i.text
    Det.append(det)

In [167]:
a=Det[0:200:2]
a# Scrapping Last_week_position

['1',
 '2',
 '4',
 '3',
 '5',
 '7',
 '6',
 '8',
 '9',
 '12',
 '14',
 '10',
 '16',
 '11',
 '15',
 '19',
 '18',
 '20',
 '30',
 '17',
 '27',
 '13',
 '22',
 '25',
 '21',
 '28',
 '-',
 '29',
 '23',
 '35',
 '24',
 '26',
 '33',
 '34',
 '31',
 '39',
 '32',
 '49',
 '37',
 '-',
 '41',
 '-',
 '46',
 '36',
 '38',
 '43',
 '40',
 '42',
 '45',
 '48',
 '44',
 '51',
 '47',
 '73',
 '53',
 '54',
 '55',
 '-',
 '62',
 '59',
 '-',
 '61',
 '58',
 '-',
 '60',
 '63',
 '66',
 '57',
 '70',
 '69',
 '-',
 '56',
 '65',
 '72',
 '68',
 '76',
 '79',
 '67',
 '92',
 '-',
 '77',
 '81',
 '75',
 '71',
 '96',
 '-',
 '78',
 '88',
 '98',
 '89',
 '95',
 '-',
 '52',
 '94',
 '91',
 '-',
 '85',
 '83',
 '-',
 '-']

In [115]:
last_week_rank=[]

In [116]:
last_week_rank.append(Det[0:200:2])

In [161]:
len(last_week_rank)

1

In [155]:
weeks_on_chart=[]

In [168]:
p=Det[1:200:2]
p# Scrapping Peak Position Rank

['3',
 '8',
 '9',
 '15',
 '19',
 '27',
 '23',
 '13',
 '44',
 '16',
 '15',
 '23',
 '21',
 '41',
 '25',
 '34',
 '21',
 '38',
 '15',
 '31',
 '25',
 '3',
 '9',
 '12',
 '9',
 '22',
 '1',
 '31',
 '22',
 '28',
 '32',
 '14',
 '12',
 '37',
 '8',
 '27',
 '6',
 '5',
 '19',
 '1',
 '32',
 '1',
 '33',
 '25',
 '8',
 '25',
 '25',
 '32',
 '30',
 '38',
 '14',
 '6',
 '8',
 '9',
 '8',
 '5',
 '7',
 '1',
 '18',
 '5',
 '1',
 '17',
 '12',
 '1',
 '5',
 '5',
 '13',
 '8',
 '12',
 '20',
 '1',
 '3',
 '17',
 '2',
 '14',
 '5',
 '3',
 '8',
 '2',
 '1',
 '4',
 '2',
 '7',
 '9',
 '2',
 '1',
 '13',
 '4',
 '2',
 '4',
 '3',
 '3',
 '2',
 '12',
 '2',
 '1',
 '6',
 '3',
 '1',
 '1']

In [156]:
weeks_on_chart.append(x)

In [141]:
Peak_Position=[]
det1=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light lrv-u-flex-grow-1"]')
for i in det1:
    det1=i.text
    Peak_Position.append(det1)

In [142]:
len(Peak_Position)

200

In [150]:
x=Peak_Position[1:200:2]
len(x)

100

In [169]:
Billboard_hot100=pd.DataFrame({'Song_Name':Song_name,'Artists_name':Artists_name1,'Last_week_rank':a,
                               'Peak_rank':x,'weeks_on_chart':p})
Billboard_hot100# Framing Data

,Song_Name,Artists_name,Last_week_rank,Peak_rank,weeks_on_chart
0,Flowers,Miley Cyrus,1,3,3
1,Kill Bill,SZA,2,8,8
2,Creepin',"Metro Boomin, The Weeknd & 21 Savage",4,9,9
3,Anti-Hero,Taylor Swift,3,15,15
4,Unholy,Sam Smith & Kim Petras,5,19,19
...,...,...,...,...,...
95,Hey Mor,Ozuna Featuring Feid,-,1,1
96,Gato de Noche,Nengo Flow & Bad Bunny,85,6,6
97,Heart To Heart,Mac DeMarco,83,3,3
98,Never Gonna Not Dance Again,P!nk,-,1,1
99,Dancin' In The Country,Tyler Hubbard,-,1,1

In [171]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')# Getting Url

In [172]:
Books=[]#Getting Details 
books=driver.find_elements(By.XPATH,'//td[@class="left"]')
for i in books:
    books=i.text
    Books.append(books)

In [177]:
a=Books[0:500:5]# Scrapping Rank
len(a)

100

In [180]:
b=Books[1:500:5]# Scrapping Book_Title
len(b)#

100

In [183]:
c=Books[2:500:5]# Scrapping Author
len(c)

100

In [186]:
d=Books[3:500:5]#Scrapping VolumeSales
len(d)

100

In [189]:
e=Books[4:500:5]# Scrapping Publishers
len(e)

100

In [190]:
Genre=[]# Scrapping Genre

In [191]:
genre=driver.find_elements(By.XPATH,'//td[@class="last left"]')
for i in genre:
    genre=i.text
    Genre.append(genre)

In [192]:
Genre

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [193]:
Books=pd.DataFrame({"Book_Name":b,"Author_Name":c,"Volume_sales":d,"Publishers":e,"Genre":Genre})
Books # DataFrame done for Books.

,Book_Name,Author_Name,Volume_sales,Publishers,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [194]:
driver.get('https://www.imdb.com/list/ls095964455/')# Getting Url

In [206]:
Name=[] # Scrapping Name
name=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]')
for i in name:
    name=i.text
    Name.append(name)

In [207]:
Name

['1. Game of Thrones (2011–2019)',
 '2. Stranger Things (2016–2024)',
 '3. The Walking Dead (2010–2022)',
 '4. 13 Reasons Why (2017–2020)',
 '5. The 100 (2014–2020)',
 '6. Orange Is the New Black (2013–2019)',
 '7. Riverdale (2017– )',
 "8. Grey's Anatomy (2005– )",
 '9. The Flash (2014–2023)',
 '10. Arrow (2012–2020)',
 '11. Money Heist (2017–2021)',
 '12. The Big Bang Theory (2007–2019)',
 '13. Black Mirror (2011–2019)',
 '14. Sherlock (2010–2017)',
 '15. Vikings (2013–2020)',
 '16. Pretty Little Liars (2010–2017)',
 '17. The Vampire Diaries (2009–2017)',
 '18. American Horror Story (2011– )',
 '19. Breaking Bad (2008–2013)',
 '20. Lucifer (2016–2021)',
 '21. Supernatural (2005–2020)',
 '22. Prison Break (2005–2017)',
 '23. How to Get Away with Murder (2014–2020)',
 '24. Teen Wolf (2011–2017)',
 '25. The Simpsons (1989– )',
 '26. Once Upon a Time (2011–2018)',
 '27. Narcos (2015–2017)',
 '28. Daredevil (2015–2018)',
 '29. Friends (1994–2004)',
 '30. How I Met Your Mother (2005–2014)',
 '31. Suits (2011–2019)',
 '32. Mr. Robot (2015–2019)',
 '33. The Originals (2013–2018)',
 '34. Supergirl (2015–2021)',
 '35. Gossip Girl (2007–2012)',
 '36. Sense8 (2015–2018)',
 '37. Gotham (2014–2019)',
 '38. Westworld (2016–2022)',
 '39. Jessica Jones (2015–2019)',
 '40. Modern Family (2009–2020)',
 '41. Rick and Morty (2013– )',
 '42. Shadowhunters (2016–2019)',
 '43. The End of the F***ing World (2017–2019)',
 '44. House of Cards (2013–2018)',
 '45. Dark (2017–2020)',
 '46. Elite (2018– )',
 '47. Sex Education (2019– )',
 '48. Shameless (2011–2021)',
 '49. New Girl (2011–2018)',
 '50. Agents of S.H.I.E.L.D. (2013–2020)',
 '51. You (2018– )',
 '52. Dexter (2006–2013)',
 '53. Fear the Walking Dead (2015–2023)',
 '54. Family Guy (1999– )',
 '55. The Blacklist (2013–2023)',
 '56. Lost (2004–2010)',
 '57. Peaky Blinders (2013–2022)',
 '58. House (2004–2012)',
 '59. Quantico (2015–2018)',
 '60. Orphan Black (2013–2017)',
 '61. Homeland (2011–2020)',
 '62. Blindspot (2015–2020)',
 "63. DC's Legends of Tomorrow (2016–2022)",
 "64. The Handmaid's Tale (2017– )",
 '65. Chilling Adventures of Sabrina (2018–2020)',
 '66. The Good Doctor (2017– )',
 '67. Jane the Virgin (2014–2019)',
 '68. Glee (2009–2015)',
 '69. South Park (1997– )',
 '70. Brooklyn Nine-Nine (2013–2021)',
 '71. Under the Dome (2013–2015)',
 '72. The Umbrella Academy (2019–2023)',
 '73. True Detective (2014–2019)',
 '74. The OA (2016–2019)',
 '75. Desperate Housewives (2004–2012)',
 '76. Better Call Saul (2015–2022)',
 '77. Bates Motel (2013–2017)',
 '78. The Punisher (2017–2019)',
 '79. Atypical (2017–2021)',
 '80. Dynasty (2017–2022)',
 '81. This Is Us (2016–2022)',
 '82. The Good Place (2016–2020)',
 '83. Iron Fist (2017–2018)',
 '84. The Rain (2018–2020)',
 '85. Mindhunter (2017–2019)',
 '86. Revenge (2011–2015)',
 '87. Luke Cage (2016–2018)',
 '88. Scandal (2012–2018)',
 '89. The Defenders (2017)',
 '90. Big Little Lies (2017–2019)',
 '91. Insatiable (2018–2019)',
 '92. The Mentalist (2008–2015)',
 '93. The Crown (2016–2023)',
 '94. Chernobyl (2019)',
 '95. iZombie (2015–2019)',
 '96. Reign (2013–2017)',
 '97. A Series of Unfortunate Events (2017–2019)',
 '98. Criminal Minds (2005– )',
 '99. Scream: The TV Series (2015–2019)',
 '100. The Haunting of Hill House (2018)']

In [208]:
Year=[] # Scrapping Year of Span
year=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in year:
    year=i.text
    Year.append(year)

In [209]:
Year

['(2011–2019)',
 '(2016–2024)',
 '(2010–2022)',
 '(2017–2020)',
 '(2014–2020)',
 '(2013–2019)',
 '(2017– )',
 '(2005– )',
 '(2014–2023)',
 '(2012–2020)',
 '(2017–2021)',
 '(2007–2019)',
 '(2011–2019)',
 '(2010–2017)',
 '(2013–2020)',
 '(2010–2017)',
 '(2009–2017)',
 '(2011– )',
 '(2008–2013)',
 '(2016–2021)',
 '(2005–2020)',
 '(2005–2017)',
 '(2014–2020)',
 '(2011–2017)',
 '(1989– )',
 '(2011–2018)',
 '(2015–2017)',
 '(2015–2018)',
 '(1994–2004)',
 '(2005–2014)',
 '(2011–2019)',
 '(2015–2019)',
 '(2013–2018)',
 '(2015–2021)',
 '(2007–2012)',
 '(2015–2018)',
 '(2014–2019)',
 '(2016–2022)',
 '(2015–2019)',
 '(2009–2020)',
 '(2013– )',
 '(2016–2019)',
 '(2017–2019)',
 '(2013–2018)',
 '(2017–2020)',
 '(2018– )',
 '(2019– )',
 '(2011–2021)',
 '(2011–2018)',
 '(2013–2020)',
 '(2018– )',
 '(2006–2013)',
 '(2015–2023)',
 '(1999– )',
 '(2013–2023)',
 '(2004–2010)',
 '(2013–2022)',
 '(2004–2012)',
 '(2015–2018)',
 '(2013–2017)',
 '(2011–2020)',
 '(2015–2020)',
 '(2016–2022)',
 '(2017– )',
 '(2018–2020)',
 '(2017– )',
 '(2014–2019)',
 '(2009–2015)',
 '(1997– )',
 '(2013–2021)',
 '(2013–2015)',
 '(2019–2023)',
 '(2014–2019)',
 '(2016–2019)',
 '(2004–2012)',
 '(2015–2022)',
 '(2013–2017)',
 '(2017–2019)',
 '(2017–2021)',
 '(2017–2022)',
 '(2016–2022)',
 '(2016–2020)',
 '(2017–2018)',
 '(2018–2020)',
 '(2017–2019)',
 '(2011–2015)',
 '(2016–2018)',
 '(2012–2018)',
 '(2017)',
 '(2017–2019)',
 '(2018–2019)',
 '(2008–2015)',
 '(2016–2023)',
 '(2019)',
 '(2015–2019)',
 '(2013–2017)',
 '(2017–2019)',
 '(2005– )',
 '(2015–2019)',
 '(2018)']

In [210]:
Genre=[]# Scrapping Genre
genre=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in genre:
    genre=i.text
    Genre.append(genre)

In [211]:
Genre

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Drama, Mystery, Sci-Fi',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Drama, Mystery, Romance',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Sci-Fi',
 'Crime, Drama, Thriller',
 'Crime, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Animation, Comedy',
 'Adventure, Fantasy, Romance',
 'Biography, Crime, Drama',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Comedy, Romance',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Adventure, Comedy',
 'Action, Drama, Fantasy',
 'Adventure, Comedy, Crime',
 'Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Comedy, Drama',
 'Comedy, Drama',
 'Comedy, Romance',
 'Action, Adventure, Drama',
 'Crime, Drama, Romance',
 'Crime, Drama, Mystery',
 'Drama, Horror, Sci-Fi',
 'Animation, Comedy',
 'Crime, Drama, Mystery',
 'Adventure, Drama, Fantasy',
 'Crime, Drama',
 'Drama, Mystery',
 'Crime, Drama, Mystery',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Drama, Sci-Fi, Thriller',
 'Drama, Fantasy, Horror',
 'Drama',
 'Comedy',
 'Comedy, Drama, Music',
 'Animation, Comedy',
 'Comedy, Crime',
 'Drama, Mystery, Sci-Fi',
 'Action, Adventure, Comedy',
 'Crime, Drama, Mystery',
 'Drama, Fantasy, Mystery',
 'Comedy, Drama, Mystery',
 'Crime, Drama',
 'Drama, Horror, Mystery',
 'Action, Crime, Drama',
 'Comedy, Drama',
 'Drama',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Fantasy',
 'Action, Adventure, Crime',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Drama, Mystery, Thriller',
 'Action, Crime, Drama',
 'Drama, Thriller',
 'Action, Adventure, Crime',
 'Crime, Drama, Mystery',
 'Comedy, Drama, Thriller',
 'Crime, Drama, Mystery',
 'Biography, Drama, History',
 'Drama, History, Thriller',
 'Comedy, Crime, Drama',
 'Drama',
 'Adventure, Comedy, Drama',
 'Crime, Drama, Mystery',
 'Comedy, Crime, Drama',
 'Drama, Horror, Mystery']

In [212]:
Run_time=[]
time=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in time:
    time=i.text
    Run_time.append(time)

In [214]:
len(Run_time)

100

In [215]:
Ratings=[]
stars=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in stars:
    stars=i.text
    Ratings.append(stars)

In [217]:
len(Ratings)

100

In [218]:
Votes=[]
vote=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]')
for i in vote:
    vote=i.text
    Votes.append(vote)

In [221]:
spl=Votes[2:300:3]
len(spl)

100

In [222]:
Movies=pd.DataFrame({'Name':Name,"year_of_span":Year,"Genre":Genre,"Run_time":Run_time,'Ratings':Ratings,"Votes":spl})
Movies # Scrapping Movies_Name.

,Name,year_of_span,Genre,Run_time,Ratings,Votes
0,1. Game of Thrones (2011–2019),(2011–2019),"Action, Adventure, Drama",57 min,9.2,"Votes: 2,123,859"
1,2. Stranger Things (2016–2024),(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"Votes: 1,211,644"
2,3. The Walking Dead (2010–2022),(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"Votes: 1,007,346"
3,4. 13 Reasons Why (2017–2020),(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"Votes: 297,203"
4,5. The 100 (2014–2020),(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"Votes: 256,123"
...,...,...,...,...,...,...
95,96. Reign (2013–2017),(2013–2017),Drama,42 min,7.4,"Votes: 50,752"
96,97. A Series of Unfortunate Events (2017–2019),(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"Votes: 62,633"
97,98. Criminal Minds (2005– ),(2005– ),"Crime, Drama, Mystery",42 min,8.1,"Votes: 203,043"
98,99. Scream: The TV Series (2015–2019),(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"Votes: 42,056"
99,100. The Haunting of Hill House (2018),(2018),"Drama, Horror, Mystery",572 min,8.6,"Votes: 250,873"

In [8]:
driver.get('https://archive.ics.uci.edu/')
time.sleep(3)

In [9]:
all_Dataset=driver.find_element(By.XPATH,'/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b')
all_Dataset.click()

In [10]:
Find=[]
find=driver.find_elements(By.XPATH,'//p[@class="normal"]')
for i in find:
    find=i.text
    Find.append(find)

In [16]:
a=Find[8::7] # Dataset_Name
len(a)

623

In [20]:
b=Find[9::7]# Dataset_Types
len(b)

623

In [27]:
c=Find[10::7]   # Default Tasks
len(c)
c.append("-")

In [29]:
len(c)

623

In [34]:
d=Find[11::7] # Default Attribute_Types
len(d)
d.append("-")
len(d)

623

In [39]:
e=Find[12::7] #Default Instances.
len(e)
e.append("-")
len(e)

623

In [45]:
f=Find[13::7]#Default Attributes
len(f)
f.append("-")
len(f)

623

In [51]:
e=Find[14::7] # Find Year
e.append("-")
len(e)

623

In [55]:
Data_set=pd.DataFrame({"Dataset_Name":a,"Dataset_Types":b,"Tasks":c,"Attribute_types":d,"Instances":e,"Attributes":f,"Year":e})
Data_set.head(5)# Framing DataFrame.

,Dataset_Name,Dataset_Types,Tasks,Attribute_types,Instances,Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",1995,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",1996,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,1998,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",1998,279,1998