In [1]:
pip install bs4

Requirement already satisfied: bs4 in c:\users\sony\anaconda3\lib\site-packages (0.0.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: beautifulsoup4 in c:\users\sony\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\sony\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.1)

In [2]:
pip install requests

Requirement already satisfied: requests in c:\users\sony\anaconda3\lib\site-packages (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sony\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sony\anaconda3\lib\site-packages (from requests) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\sony\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sony\anaconda3\lib\site-packages (from requests) (3.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from bs4 import BeautifulSoup
import requests

Requirement already satisfied: html5lib in c:\users\sony\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\sony\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\sony\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [9]:
url=requests.get('https://en.wikipedia.org/wiki/Main_Page')
url

In [5]:
soup=BeautifulSoup(url.text,'html.parser')
type(soup)

bs4.BeautifulSoup

In [11]:
Titles=soup.find_all(['h1','h2','h3','h4','h5','h6'])
for i in Titles:
    print(i.text)# q1.All the Header Tag Names.

Main Page
Welcome to Wikipedia
From today's featured article
Did you know ...
In the news
On this day
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages
Navigation menu

Personal tools


Namespaces


Views


Navigation


Contribute


Tools


Print/export


In other projects


Languages

In [56]:
page='https://www.imdb.com/search/title/?groups=top_100&view=simple'
url=requests.get(page)
url

In [58]:
soup=BeautifulSoup(url.text,'html.parser')
type(soup)

bs4.BeautifulSoup

In [66]:
Name=[]
for i in soup.find_all('span',class_='lister-item-header'):
    Name.append(i.text.split('\n')[3])

In [67]:
Name

['Top Gun: Maverick',
 'The Godfather',
 'The Shawshank Redemption',
 'بين النجوم',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Pulp Fiction',
 'Good Will Hunting',
 'Fight Club',
 'Avengers: Endgame',
 'The Dark Knight',
 'Inception',
 'ويبلاش',
 'Léon',
 'Goodfellas',
 'Forrest Gump',
 'Gisaengchung',
 'Raiders of the Lost Ark',
 'Gladiator',
 'Joker',
 'Inglourious Basterds',
 'The Lord of the Rings: The Return of the King',
 "It's a Wonderful Life",
 'Back to the Future',
 'Requiem for a Dream',
 'The Prestige',
 'The Godfather: Part II',
 "Schindler's List",
 'Django Unchained',
 'Apocalypse Now',
 'American Beauty',
 'The Matrix',
 'The Departed',
 'Se7en',
 'Alien',
 'The Lord of the Rings: The Two Towers',
 'Star Wars',
 'The Silence of the Lambs',
 'The Green Mile',
 'Braveheart',
 'The Dark Knight Rises',
 'Spider-Man: Into the Spider-Verse',
 'Aliens',
 'Avengers: Infinity War',
 'The Usual Suspects',
 'American History X',
 'Eternal Sunshine of the Spotless Mind',
 'Terminator 2: Judgment Day',
 'Il buono, il brutto, il cattivo',
 '12 Angry Men',
 'The Shining']

In [138]:
rating=[]
for i in soup.find_all('div', class_="col-imdb-rating"):
    rating.append(i.text.split('\n')[2])

In [139]:
rating

['                            8.3',
 '                            9.2',
 '                            9.3',
 '                            8.6',
 '                            8.8',
 '                            8.9',
 '                            8.3',
 '                            8.8',
 '                            8.4',
 '                            9',
 '                            8.8',
 '                            8.5',
 '                            8.5',
 '                            8.7',
 '                            8.8',
 '                            8.5',
 '                            8.4',
 '                            8.5',
 '                            8.4',
 '                            8.3',
 '                            9',
 '                            8.6',
 '                            8.5',
 '                            8.3',
 '                            8.5',
 '                            9',
 '                            9',
 '                            8.4',
 '                            8.5',
 '                            8.4',
 '                            8.7',
 '                            8.5',
 '                            8.6',
 '                            8.5',
 '                            8.8',
 '                            8.6',
 '                            8.6',
 '                            8.6',
 '                            8.4',
 '                            8.4',
 '                            8.4',
 '                            8.4',
 '                            8.4',
 '                            8.5',
 '                            8.5',
 '                            8.3',
 '                            8.6',
 '                            8.8',
 '                            9',
 '                            8.4']

In [140]:
year_of_release=[]
for i in soup.find_all('span', class_="lister-item-year text-muted unbold"):
    year_of_release.append(i.text)

In [141]:
year_of_release

['(2022)',
 '(1972)',
 '(1994)',
 '(2014)',
 '(2001)',
 '(1994)',
 '(1997)',
 '(1999)',
 '(2019)',
 '(2008)',
 '(2010)',
 '(2014)',
 '(1994)',
 '(1990)',
 '(1994)',
 '(2019)',
 '(1981)',
 '(2000)',
 '(I) (2019)',
 '(2009)',
 '(2003)',
 '(1946)',
 '(1985)',
 '(2000)',
 '(2006)',
 '(1974)',
 '(1993)',
 '(2012)',
 '(1979)',
 '(1999)',
 '(1999)',
 '(2006)',
 '(1995)',
 '(1979)',
 '(2002)',
 '(1977)',
 '(1991)',
 '(1999)',
 '(1995)',
 '(2012)',
 '(2018)',
 '(1986)',
 '(2018)',
 '(1995)',
 '(1998)',
 '(2004)',
 '(1991)',
 '(1966)',
 '(1957)',
 '(1980)']

In [142]:
import pandas as pd

In [143]:
#2.Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
df=pd.DataFrame({'Name of the Movie':Name,'Ratings of the Movie':rating,'Year Released':year_of_release})
df

,Name of the Movie,Ratings of the Movie,Year Released
0,Top Gun: Maverick,8.3,(2022)
1,The Godfather,9.2,(1972)
2,The Shawshank Redemption,9.3,(1994)
3,بين النجوم,8.6,(2014)
4,The Lord of the Rings: The Fellowship of the Ring,8.8,(2001)
5,Pulp Fiction,8.9,(1994)
6,Good Will Hunting,8.3,(1997)
7,Fight Club,8.8,(1999)
8,Avengers: Endgame,8.4,(2019)
9,The Dark Knight,9,(2008)
10,Inception,8.8,(2010)
11,ويبلاش,8.5,(2014)
12,Léon,8.5,(1994)
13,Goodfellas,8.7,(1990)
14,Forrest Gump,8.8,(1994)
15,Gisaengchung,8.5,(2019)
16,Raiders of the Lost Ark,8.4,(1981)
17,Gladiator,8.5,(2000)
18,Joker,8.4,(I) (2019)
19,Inglourious Basterds,8.3,(2009)
20,The Lord of the Rings: The Return of the King,9,(2003)
21,It's a Wonderful Life,8.6,(1946)
22,Back to the Future,8.5,(1985)
23,Requiem for a Dream,8.3,(2000)
24,The Prestige,8.5,(2006)
25,The Godfather: Part II,9,(1974)
26,Schindler's List,9,(1993)
27,Django Unchained,8.4,(2012)
28,Apocalypse Now,8.5,(1979)
29,American Beauty,8.4,(1999)
30,The Matrix,8.7,(1999)
31,The Departed,8.5,(2006)
32,Se7en,8.6,(1995)
33,Alien,8.5,(1979)
34,The Lord of the Rings: The Two Towers,8.8,(2002)
35,Star Wars,8.6,(1977)
36,The Silence of the Lambs,8.6,(1991)
37,The Green Mile,8.6,(1999)
38,Braveheart,8.4,(1995)
39,The Dark Knight Rises,8.4,(2012)
40,Spider-Man: Into the Spider-Verse,8.4,(2018)
41,Aliens,8.4,(1986)
42,Avengers: Infinity War,8.4,(2018)
43,The Usual Suspects,8.5,(1995)
44,American History X,8.5,(1998)
45,Eternal Sunshine of the Spotless Mind,8.3,(2004)
46,Terminator 2: Judgment Day,8.6,(1991)
47,"Il buono, il brutto, il cattivo",8.8,(1966)
48,12 Angry Men,9,(1957)
49,The Shining,8.4,(1980)

In [144]:
page='https://www.imdb.com/search/title/?groups=top_1000&countries=in&languages=hi&sort=user_rating,desc'
url=requests.get(page)
url

In [150]:
soup=BeautifulSoup(url.text,'html.parser')
type(soup)

bs4.BeautifulSoup

In [157]:
TitleName=[]
for i in soup.find_all('h3', class_="lister-item-header"):
    TitleName.append(i.text.split('\n')[2])

In [158]:
TitleName

['Jai Bhim',
 'Rocketry: The Nambi Effect',
 'Soorarai Pottru',
 'Kaithi',
 '3 Idiots',
 'Sardar Udham',
 'Shershaah',
 'Dangal',
 'K.G.F: Chapter 2',
 'Vikram',
 'Taare Zameen Par',
 'Vikram Vedha',
 'Chhichhore',
 'Drishyam',
 'Tumbbad',
 'Baahubali 2: The Conclusion',
 'Gangs of Wasseypur',
 'اللحن الأعمى',
 'K.G.F: Chapter 1',
 'Zindagi Na Milegi Dobara',
 'Swades: We, the People',
 'Uri: The Surgical Strike',
 'Bhaag Milkha Bhaag',
 'Paan Singh Tomar',
 'PK',
 'Bajrangi Bhaijaan',
 'Lagaan: Once Upon a Time in India',
 'Munna Bhai M.B.B.S.',
 'رغبات القلب',
 'Barfi!',
 'Pink',
 'Masaan',
 'Talvar',
 'Article 15',
 'Sholay',
 'Queen',
 'Rang De Basanti',
 'Chak De! India',
 'A Wednesday',
 'Hera Pheri',
 'قضية ضدّ القدر',
 'Black',
 'قصّة منسيّة',
 'Udaan',
 'Sarfarosh',
 'Anand',
 'Lion',
 'Gandhi',
 'Dilwale Dulhania Le Jayenge',
 'Haider']

In [166]:
rating=[]
for i in soup.find_all('div', class_="inline-block ratings-imdb-rating"):
    rating.append(i.text.split('\n')[2])

In [167]:
rating

['8.8',
 '8.8',
 '8.7',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.0',
 '8.0',
 '8.0',
 '8.0']

In [168]:
Release_date=[]
for i in soup.find_all('span', class_="lister-item-year text-muted unbold"):
    Release_date.append(i.text)

In [169]:
Release_date

['(2021)',
 '(2022)',
 '(2020)',
 '(2019)',
 '(2009)',
 '(2021)',
 '(2021)',
 '(2016)',
 '(2022)',
 '(2022)',
 '(2007)',
 '(2017)',
 '(2019)',
 '(2015)',
 '(2018)',
 '(2017)',
 '(2012)',
 '(2018)',
 '(2018)',
 '(2011)',
 '(2004)',
 '(2019)',
 '(2013)',
 '(2012)',
 '(2014)',
 '(2015)',
 '(2001)',
 '(2003)',
 '(2001)',
 '(2012)',
 '(III) (2016)',
 '(2015)',
 '(2015)',
 '(2019)',
 '(1975)',
 '(2013)',
 '(2006)',
 '(2007)',
 '(2008)',
 '(2000)',
 '(2012)',
 '(2005)',
 '(2012)',
 '(2010)',
 '(1999)',
 '(1971)',
 '(2016)',
 '(1982)',
 '(1995)',
 '(2014)']

In [174]:
#3.Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of Release,make DataFrame)
df=pd.DataFrame({'NameoftheIndianMovie':TitleName,'Ratings':rating,'Date_of_Release':Release_date})
df

                 NameoftheIndianMovie Ratings Date_of_Release
0                            Jai Bhim     8.8          (2021)
1          Rocketry: The Nambi Effect     8.8          (2022)
2                     Soorarai Pottru     8.7          (2020)
3                              Kaithi     8.5          (2019)
4                            3 Idiots     8.4          (2009)
5                        Sardar Udham     8.4          (2021)
6                           Shershaah     8.4          (2021)
7                              Dangal     8.3          (2016)
8                    K.G.F: Chapter 2     8.3          (2022)
9                              Vikram     8.3          (2022)
10                   Taare Zameen Par     8.3          (2007)
11                       Vikram Vedha     8.3          (2017)
12                         Chhichhore     8.3          (2019)
13                           Drishyam     8.2          (2015)
14                            Tumbbad     8.2          (2018)
15        Baahubali 2: The Conclusion     8.2          (2017)
16                 Gangs of Wasseypur     8.2          (2012)
17                       اللحن الأعمى     8.2          (2018)
18                   K.G.F: Chapter 1     8.2          (2018)
19           Zindagi Na Milegi Dobara     8.2          (2011)
20             Swades: We, the People     8.2          (2004)
21           Uri: The Surgical Strike     8.2          (2019)
22                 Bhaag Milkha Bhaag     8.2          (2013)
23                   Paan Singh Tomar     8.2          (2012)
24                                 PK     8.1          (2014)
25                  Bajrangi Bhaijaan     8.1          (2015)
26  Lagaan: Once Upon a Time in India     8.1          (2001)
27                Munna Bhai M.B.B.S.     8.1          (2003)
28                        رغبات القلب     8.1          (2001)
29                             Barfi!     8.1          (2012)
30                               Pink     8.1    (III) (2016)
31                             Masaan     8.1          (2015)
32                             Talvar     8.1          (2015)
33                         Article 15     8.1          (2019)
34                             Sholay     8.1          (1975)
35                              Queen     8.1          (2013)
36                    Rang De Basanti     8.1          (2006)
37                     Chak De! India     8.1          (2007)
38                        A Wednesday     8.1          (2008)
39                         Hera Pheri     8.1          (2000)
40                     قضية ضدّ القدر     8.1          (2012)
41                              Black     8.1          (2005)
42                        قصّة منسيّة     8.1          (2012)
43                              Udaan     8.1          (2010)
44                          Sarfarosh     8.1          (1999)
45                              Anand     8.1          (1971)
46                               Lion     8.0          (2016)
47                             Gandhi     8.0          (1982)
48        Dilwale Dulhania Le Jayenge     8.0          (1995)
49                             Haider     8.0          (2014)

In [175]:
page='https://presidentofindia.nic.in/former-presidents.htm'
url=requests.get(page)
url

In [177]:
soup=BeautifulSoup(url.content)
type(soup)

bs4.BeautifulSoup

In [191]:
Name=[]
Terms_of_office=[]
for i in soup.find_all('div', class_="presidentListing"):
    Name.append(i.text.split('\n')[1])
    Terms_of_office.append(i.text.split('\n')[2])

In [190]:

Terms_of_office

['Term of Office: 25 July, 2017 to 25 July, 2022 ',
 'Term of Office: 25 July, 2012 to 25 July, 2017 ',
 'Term of Office: 25 July, 2007 to 25 July, 2012 ',
 'Term of Office: 25 July, 2002 to 25 July, 2007 ',
 'Term of Office: 25 July, 1997 to 25 July, 2002 ',
 'Term of Office: 25 July, 1992 to 25 July, 1997 ',
 'Term of Office: 25 July, 1987 to 25 July, 1992 ',
 'Term of Office: 25 July, 1982 to 25 July, 1987 ',
 'Term of Office: 25 July, 1977 to 25 July, 1982 ',
 'Term of Office: 24 August, 1974 to 11 February, 1977',
 'Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 'Term of Office: 13 May, 1967 to 3 May, 1969',
 'Term of Office: 13 May, 1962 to 13 May, 1967',
 'Term of Office: 26 January, 1950 to 13 May, 1962']

In [192]:
Name

['Shri Ram Nath Kovind (birth - 1945)',
 'Shri Pranab Mukherjee (1935-2020)',
 'Smt Pratibha Devisingh Patil (birth - 1934)',
 'DR. A.P.J. Abdul Kalam (1931-2015)',
 'Shri K. R. Narayanan (1920 - 2005)',
 'Dr Shankar Dayal Sharma (1918-1999)',
 'Shri R Venkataraman (1910-2009)',
 'Giani Zail Singh (1916-1994)',
 'Shri Neelam Sanjiva Reddy (1913-1996)',
 'Dr. Fakhruddin Ali Ahmed (1905-1977)',
 'Shri Varahagiri Venkata Giri (1894-1980)',
 'Dr. Zakir Husain (1897-1969)',
 'Dr. Sarvepalli Radhakrishnan (1888-1975)',
 'Dr. Rajendra Prasad (1884-1963) ']

In [193]:
print(len(Name),len(Terms_of_office))

14 14

In [196]:
#4.Write s python program to display list of respected former presidents of India(i.e. Name , Term of office from https://presidentofindia.nic.in/former-presidents.htm)

df=pd.DataFrame({'PresidentName':Name,'Termsofoffice':Terms_of_office})
df

,PresidentName,Termsofoffice
0,Shri Ram Nath Kovind (birth - 1945),"Term of Office: 25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"Term of Office: 25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"Term of Office: 25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"Term of Office: 25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"Term of Office: 25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"Term of Office: 25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"Term of Office: 25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"Term of Office: 25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"Term of Office: 25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"Term of Office: 24 August, 1974 to 11 February..."
10,Shri Varahagiri Venkata Giri (1894-1980),"Term of Office: 3 May, 1969 to 20 July, 1969 a..."
11,Dr. Zakir Husain (1897-1969),"Term of Office: 13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"Term of Office: 13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"Term of Office: 26 January, 1950 to 13 May, 1962"

In [3]:
from bs4 import BeautifulSoup
import requests

page='https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
url=requests.get(page)
url

In [4]:
soup=BeautifulSoup(url.content,'html.parser')
type(soup)
import pandas as pd

In [5]:
pos=[]
for i in soup.find_all('td', class_="table-body__cell table-body__cell--position u-text-right"):
    pos.append(i.text)

In [6]:
len(pos)

19

In [7]:
TeamName=[]
for i in soup.find_all('span', class_="u-hide-phablet"):
    TeamName.append(i.text)

In [8]:
TeamName

['New Zealand',
 'England',
 'Australia',
 'India',
 'Pakistan',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'Afghanistan',
 'West Indies',
 'Ireland',
 'Scotland',
 'Zimbabwe',
 'Namibia',
 'Netherlands',
 'Oman',
 'UAE',
 'United States',
 'Nepal',
 'Papua New Guinea']

In [8]:
Matches=[]
for i in soup.find_all('td', class_="table-body__cell u-center-text"):
    Matches.append(i.text)

In [9]:

Matches
df=pd.DataFrame(Matches)
df

        0
0      30
1   3,400
2      32
3   3,572
4      40
5   4,377
6      25
7   2,649
8      24
9   2,392
10     33
11  3,129
12     33
13  2,917
14     20
15  1,419
16     41
17  2,902
18     23
19  1,214
20     31
21  1,459
22     26
23  1,098
24     26
25    971
26     21
27    673
28     30
29    919
30     25
31    693
32     31
33    821
34     28
35    456
36     30
37    128

In [10]:
ratings=[]
for i in soup.find_all('td', class_="table-body__cell u-text-right rating"):
    ratings.append(i.text)

In [11]:
len(ratings)

19

In [12]:
print(len(pos),len(TeamName),len(Matches),len(ratings))

19 20 38 19

In [19]:
#5.b.Top10 ODI Batsmen along with their Team and Rating.
page="https://www.icc-cricket.com/rankings/mens/player-rankings/odi"
url=requests.get(page)
url

In [20]:
soup=BeautifulSoup(url.text,'html.parser')
type(soup)

bs4.BeautifulSoup

In [27]:
Pos=[]
Name=[]
Team=[]
Ratings=[]
for i in soup.find_all('span', class_="rankings-table__pos-number"):
    Pos.append(i.text.split('\n')[1])
for i in soup.find_all('td', class_="table-body__cell name"):
    Name.append(i.text)
for i in soup.find_all('span', class_="table-body__logo-text"):
    Team.append(i.text)
for i in soup.find_all('td', class_="table-body__cell u-text-right rating"):
    Ratings.append(i.text)

In [32]:
print(len(Pos),len(Name),len(Team),len(Ratings))

54 54 54 54

In [33]:
#5c.c) Top 10 ODI bowlers along with the records of their team and rating
page="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
url=requests.get(page)
url

In [34]:
soup=BeautifulSoup(url.text,'html.parser')
type(soup)

bs4.BeautifulSoup

In [76]:
Pos=[]
Name=[]
Team=[]

a=soup.find('td', class_="rankings-block__position")
a.text.split('\n')[4]
b=soup.find('div', class_="rankings-block__banner--name-large")
b.text 
c=soup.find('div', class_="rankings-block__banner--nationality")
c.text.split('\n')[2]
Pos.append(a.text.split('\n')[3])
for i in soup.find_all('span',class_="rankings-table__pos-number"):
    Pos.append(i.text.split('\n')[1])
Name.append(b.text)
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    Name.append(i.text.split('\n')[1])
Team.append(c.text.split('\n')[2])
for i in soup.find_all('span',class_="table-body__logo-text"):
    Team.append(i.text)

print(len(Pos),len(Name),len(Team))

100 100 100

In [ ]:
#6.A. Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [77]:
page="https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
url=requests.get(page)
url

In [78]:
soup=BeautifulSoup(url.text,'html.parser')
type(soup)

bs4.BeautifulSoup

In [100]:
Pos=[]
Team=[]
matches=[]
rating=[]
a=soup.find('td', class_="rankings-block__banner--pos")
a.text
b=soup.find('span', class_= "u-hide-phablet")
b.text
c=soup.find('td', class_="rankings-block__banner--matches")
c.text
d=soup.find('td', class_="rankings-block__banner--points")
d.text
e=soup.find('td', class_="rankings-block__banner--rating u-text-right")
e.text
Pos.append(a.text)
for i in soup.find_all('td', class_="table-body__cell table-body__cell--position u-text-right"):
    Pos.append(i.text)
for i in soup.find_all('span', class_="u-hide-phablet"):
    Team.append(i.text)
matches.append(c.text)
matches.append(d.text)
for i in soup.find_all('td', class_="table-body__cell u-center-text"):
    matches.append(i.text)
rating.append(e.text.split("\n")[1])
for i in soup.find_all('td', class_="table-body__cell u-text-right rating"):
    rating.append(i.text)

In [104]:
#6b) Top 10 women’s ODI Batting players along with the records of their team and rating.
page="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
url=requests.get(page)
url

In [105]:
soup=BeautifulSoup(url.text,'html.parser')
type(soup)

bs4.BeautifulSoup

In [127]:
Pos=[]
Name=[]
Team=[]
Rating=[]
                          
a=soup.find('span', class_="rankings-block__pos-number")
a.text.split('\n')[1]
b=soup.find('div', class_="rankings-block__banner--name-large")
b.text
c=soup.find('span', class_="table-body__logo-text")
c.text
d=soup.find('div', class_="rankings-block__banner--rating")
d.text
Pos.append(a.text.split('\n')[1])
for i in soup.find_all('span', class_="rankings-table__pos-number"):
    Pos.append(i.text.split('\n')[1])
Name.append(b.text)
for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    Name.append(i.text)
for i in soup.find_all('span', class_="table-body__logo-text"):
    Team.append(c.text)
    Team.append(i.text)
Rating.append(d.text)
for i in soup.find_all('td', class_="table-body__cell rating"):
    Rating.append(i.text)

In [130]:
page="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling"
url=requests.get(page)
url

In [148]:
Pos=[]
Name=[]
Team=[]
Rating=[]
a=soup.find('span', class_="rankings-block__pos-number")
a.text
b=soup.find('div', class_="rankings-block__banner--name-large")
b.text
c=soup.find('div', class_="rankings-block__banner--nationality")
c.text.split('\n')[2]
d=soup.find('div', class_="rankings-block__banner--rating")
d.text
Pos.append(a.text)
for i in soup.find_all('span', class_="rankings-table__pos-number"):
    Pos.append(i.text)
Name.append(b.text)
for i in soup.find_all('td', class_="table-body__cell rankings-table__name name"):
    Name.append(i.text)
Team.append(c.text.split('\n')[2])
for i in soup.find_all('span', class_="table-body__logo-text"):
    Team.append(i.text)
Rating.append(d.text)
for i in soup.find_all('td',class_="table-body__cell rating"):
    Rating.append(i.text)

In [ ]:
#.6.c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [151]:
page="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
url=requests.get(page)
url

In [152]:
soup=BeautifulSoup(url.text,'html.parser')
type(soup)

bs4.BeautifulSoup

In [177]:
Pos=[]
Name=[]
Team=[]
Rating=[]
a=soup.find('span', class_="rankings-block__pos-number")
a.text
b=soup.find('div', class_="rankings-block__banner--name-large")
b.text
c=soup.find('div',class_="rankings-block__banner--nationality")
c.text.split('\n')[2]
d=soup.find('div', class_="rankings-block__banner--rating")
d.text
Pos.append(a.text)
for i in soup.find_all('span', class_="rankings-table__pos-number"):
    Pos.append(i.text)
Name.append(b.text)
for i in soup.find_all('td', class_="table-body__cell rankings-table__name name"):
    Name.append(i.text)
Team.append(c.text.split('\n')[2])
for i in soup.find_all('span', class_="table-body__logo-text"):
    Team.append(i.text)
Rating.append(d.text)
for i in soup.find_all('td', class_="table-body__cell rating"):
    Rating.append(i.text)

In [184]:
page="https://www.cnbc.com/world/?region=world"
url=requests.get(page)
url

In [3]:
page="https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"
url=requests.get(page)
url

In [4]:
soup=BeautifulSoup(url.text,'html.parser')
type(soup)

bs4.BeautifulSoup

In [15]:
#8.8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.

Title=[]
Author=[]
Published=[]
for i in soup.find_all(['h1','h2','h3','h4','h5','h6']):
    Title.append(i.text)
for i in soup.find_all('p', class_="sc-1thf9ly-0 sc-1thf9ly-1 iwnLUR fXmEge"):
    Author.append(i.text.split(','))
for i in soup.find_all('span', class_="sc-1thf9ly-2 dvggWt"):
    Published.append(i.text)

In [16]:
#.9) Write a python program to scrape mentioned details from dineout.co.in :
page="https://www.dineout.co.in/delhi-restaurants/buffet-special"
url=requests.get(page)
url

In [17]:
soup=BeautifulSoup(url.text,'html.parser')
type(soup)

bs4.BeautifulSoup

In [34]:
Name=[]
Cuisine=[]
location=[]
Ratings=[]
Imageurl=[]
for i in soup.find_all('a',class_="restnt-name ellipsis"):
    Name.append(i.text)
for i in soup.find_all('span', class_="double-line-ellipsis"):
    Cuisine.append(i.text.split('|')[1])
for i in soup.find_all('div', class_="restnt-loc ellipsis"):
    location.append(i.text)
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    Ratings.append(i.text)
for i in soup.find_all('img',class_='no-img'):
    Imageurl.append(i.get("data-src"))