In [3]:
import selenium
from selenium import webdriver

In [4]:
import time 
from selenium.webdriver.common.by import By

In [5]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
driver=webdriver.Chrome(r"C:\Users\sony\Desktop\Data Trained/chromedriver.exe")
driver.get

In [5]:
driver.get("https://www.naukri.com")#q1.1.Getting the webPage.

In [6]:
Destination=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/form/div[1]/input')
Destination.send_keys('DataAnalyst') #q1.2.DataAnalyst in skills

In [7]:
Location=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/form/div[2]/input')
Location.send_keys('Dubai')#q1.2.Dubai in location

In [8]:
Search=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/form/input')
Search.click()#q1.3.clicking SearchButton

In [9]:
Jobs=[]#q1.4.Scrape the Data for first 10 Jobs.
details=driver.find_elements(By.XPATH,'//div[@class="ng-box srp-tuple"]')
for i in details[0:10]:
    details=i.text
    Jobs.append(details)

In [10]:
len(Jobs)#length of Jobs

10

In [11]:
import pandas as pd

In [12]:
df=pd.DataFrame({'Jobs':Jobs})#q1.5.DataFrame of First 10 Jobs.
df

                                                Jobs
0  Data Analyst\nROSEN Middle East\n2 - 5 YearsDu...
1  Laboratory Statistical Analysis Executive\nBUR...
2  Business Analyst\nConfidential Company\n5 - 10...
3  DATA ANALYST\nClient of Trans Skills LLC\n6 - ...
4  Senior Data Analyst\nPuffy\n5 - 6 YearsDubai -...
5  Traffic Data Analyst\nParsons Corporation\n5 -...
6  Senior Analyst, Business Analysis\nCorporate\n...
7  Senior Data Scientist\ncareem\n7 - 9 YearsDuba...
8  Research Fellow - Business for Society\nHult I...
9  IT Audit Specialist Team Associate\nDeloitte\n...

In [13]:
Job_title=[]
title=driver.find_elements(By.XPATH,'//h2[@class="designation-title"]')
for i in title[0:10]:
    title=i.text
    Job_title.append(title)

In [14]:
len(Job_title)

10

In [16]:
Job_location=[]
location=driver.find_elements(By.XPATH,'//li[@class="info-loc has-logo"]')
for i in location[0:10]:
    location=i.text
    Job_location.append(location)

In [17]:
len(Job_location)

10

In [18]:
company_name=[]
name=driver.find_elements(By.XPATH,'//a[@class="info-org"]')
for i in name[0:10]:
    name=i.text
    company_name.append(name)

In [48]:
len(company_name)

10

In [19]:
df=pd.DataFrame({'Job_title':Job_title,'Job_location':Job_location,'Company_Name':company_name})
df  #q2.first 10jobs,Job_title,Joblocation and company_name

,Job_title,Job_location,Company_Name
0,Data Analyst,Dubai - United Arab Emirates,ROSEN Middle East
1,Laboratory Statistical Analysis Executive,Dubai - United Arab Emirates,BUREAU VERITAS -DUBAI BR
2,Business Analyst,Dubai - United Arab Emirates,Corporate
3,DATA ANALYST,Dubai - United Arab Emirates,careem
4,Senior Data Analyst,Dubai - United Arab Emirates,Deloitte
5,Traffic Data Analyst,Dubai - United Arab Emirates,The Emirates Group
6,"Senior Analyst, Business Analysis",Dubai - United Arab Emirates,RD2 Interiors
7,Senior Data Scientist,Dubai - United Arab Emirates,MADI International Co LLC
8,Research Fellow - Business for Society,Dubai - United Arab Emirates,Al Futtaim Private Company (LLC)
9,IT Audit Specialist Team Associate,Dubai - United Arab Emirates,Al Futtaim Private Company (LLC)

In [37]:
driver=webdriver.Chrome(r"C:\Users\sony\Desktop\Data Trained/chromedriver.exe")
driver.get

In [38]:
driver.get("https://www.naukri.com")

In [52]:
Destination=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/form/div[1]/input')
Destination.send_keys('Data_Scientist')#q3.Ignoring third question,I cant search for the given Title in Naukrigulf.com

In [53]:
submit=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div/div/div/div[1]/form/input")
submit.click()

In [54]:
driver.get("https://www.flipkart.com")

In [55]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search.send_keys('Sunglasses')

In [57]:
search_click=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_click.click()

In [62]:
Brand=[]
Product_des=[]
Price=[]

In [63]:
name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in name:
    name=i.text
    Brand.append(name)

In [65]:
des=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in des:
    des=i.text
    Product_des.append(des)

In [66]:
amount=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in amount:
    amount=i.text
    Price.append(amount)

In [67]:
print(len(Brand),len(Product_des),len(Price))

40 35 40

In [69]:
start=0
end=2
for page in range(start,end):
    name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in name:
        name=i.text
        Brand.append(name)
    des=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in des:
        des=i.text
        Product_des.append(des)
        
    amount=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in amount:
        amount=i.text
        Price.append(amount) 
next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button.click()
time.sleep(3)

In [70]:
print(len(Brand),len(Product_des),len(Price))

200 175 200

In [72]:
df=pd.DataFrame({'Brand':Brand[0:100],'Product_description':Product_des[0:100],'Price':Price[0:100]})
df #q4.DataFrame for 100 Sunglasses.

,Brand,Product_description,Price
0,Velocity Eyewear,UV Protection Retro Square Sunglasses (54),₹818
1,IRUS,UV Protection Wayfarer Sunglasses (Free Size),₹637
2,Fastrack,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹699
3,Elligator,UV Protection Rectangular Sunglasses (Free Size),₹149
4,Fastrack,UV Protection Round Sunglasses (54),₹499
...,...,...,...
95,CART2DEAL,"UV Protection, Polarized Rectangular Sunglasse...","₹1,244"
96,VINCENT CHASE,UV Protection Clubmaster Sunglasses (54),₹599
97,Fastrack,"Riding Glasses, UV Protection, Night Vision Sp...",₹579
98,SRPM,UV Protection Retro Square Sunglasses (54),₹179
99,Dervin,"Night Vision, Polarized, UV Protection, Riding...",₹224

In [79]:
driver=webdriver.Chrome(r"C:\Users\sony\Desktop\Data Trained/chromedriver.exe")

In [86]:
driver.get("https://www.flipkart.com")

In [87]:
pname=driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
pname.send_keys("iphone11")

In [88]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [89]:
iphone_black_64gb=driver.find_element(By.XPATH,"/html/body/div/div/div[3]/div[1]/div[2]/div[3]/div/div/div/a/div[3]/div[1]/div[1]")
iphone_black_64gb.click()

In [93]:
Ratings=[]
Review_summary=[]
Full_Review=[]

In [99]:
start=0
end=5
for page in range(start,end):
    ratings=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in ratings:
        ratings=i.text
        Ratings.append(ratings)
    summary=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in summary:
        summary=i.text
        Review_summary.append(summary)
    reviews=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in reviews:
        reviews=i.text
        Full_Review.append(reviews)
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()
time.sleep(3)

In [100]:
print(len(Ratings),len(Review_summary),len(Full_Review))

112 112 112

In [101]:
df=pd.DataFrame({"Ratings":Ratings[0:100],"Product_summary":Review_summary[0:100],"FullReview":Full_Review[0:100]})
df#Q5.100 Reviews DataFrame for iphone11.

,Ratings,Product_summary,FullReview
0,5,Perfect product!,After using 3 years mobile review. Excellent &...
1,5,Terrific,I am using the phone for last 5 years and foun...
2,5,Fabulous!,Fast performance to previous iPhone x\nGood ca...
3,5,Great product,Awesome product ❤️❤️\nThank you Flipkart
4,4,Good quality product,impressively Nice......\nOne of the greatest i...
...,...,...,...
95,4,Wonderful,"Really Good Phone , Better than Many Mobile in..."
96,5,Perfect product!,After using 3 years mobile review. Excellent &...
97,5,Terrific,I am using the phone for last 5 years and foun...
98,5,Fabulous!,Fast performance to previous iPhone x\nGood ca...
99,5,Great product,Awesome product ❤️❤️\nThank you Flipkart

In [7]:
driver.get("https:www.flipkart.com")

In [8]:
des=driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
des.send_keys('sneakers')

In [9]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search.click()

In [105]:
Brand=[]
Product_Description=[]
Price=[]

In [109]:
start=0
end=3
for page in range(start,end):
    name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in name:
        name=i.text
        Brand.append(name)
    Des=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in Des:
        Des=i.text
        Product_Description.append(Des)
    amount=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in amount:
        amount=i.text
        Price.append(amount)
next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
next_button.click()
time.sleep(3)

In [110]:
print(len(Brand),len(Product_Description),len(Price))

200 183 200

In [112]:
import pandas as pd

In [113]:
df=pd.DataFrame({'Brand':Brand[0:100],'Product_Description':Product_Description[0:100],'Price':Price[0:100]})
df

,Brand,Product_Description,Price
0,RapidBox,Sneakers For Men,₹750
1,rodox,Comfortable Outdoors/Gym&Workout/Running Shoes...,₹854
2,World Wear Footwear,5011-Latest Collection Stylish & Trendy Casual...,₹399
3,aadi,Synthetic Leather |Lightweight|Comfort|Summer|...,₹434
4,PUMA,ST Activate V2 Sneakers For Men,"₹1,814"
...,...,...,...
95,Numenzo,DT-SS22-128B Sneakers For Men,₹499
96,PUMA,Comfortable Outdoors/Gym&Workout/Running Shoes...,"₹2,568"
97,U.S. POLO ASSN.,FLEX ADVANTAGE 4.0-V Sneakers For Men,"₹1,799"
98,RED TAPE,Men's Ultraforce Mid-top Athletic-Inspired Ret...,"₹1,249"
99,Arivo,X-Ray Square Ramble Mesh Sneakers For Men,₹699

In [10]:
driver=webdriver.Chrome(r"C:\Users\sony\Desktop\Data Trained/chromedriver.exe")
driver.get("https://www.amazon.in")

In [11]:
des=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
des.send_keys('laptop')

In [12]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div')
search.click()

In [13]:
filterop=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[6]/li[14]/span/a/span')
filterop.click()

In [14]:
Title=[]
Ratings=[]
Price=[]

In [15]:
name=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in name[0:10]:
    name=i.text
    Title.append(name)

In [32]:
star=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in star[0:10]:
    star=i.text
    Ratings.append(star)
Ratings

['3.1\n(12)',
 '3.7\n(29)',
 '4.5\n(9)',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '3.1\n(12)',
 '3.7\n(29)',
 '4.5\n(9)',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '3.1',
 '3.7',
 '4.5',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '3.1',
 '3.7',
 '4.5',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '3.1',
 '3.7',
 '4.5',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '3.1',
 '3.7',
 '4.5',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '3.1',
 '3.7',
 '4.5',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [36]:
amount=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in amount[0:10]:
    amount=i.text.split('\n')
    Price.append(amount)

In [26]:
Price

['56,990', '79,990', '78,106', '', '', '', '', '', '', '']

In [37]:
print(len(Title),len(Ratings),len(Price))

10 70 20

In [34]:
import pandas as pd

In [39]:
df=pd.DataFrame({'Title':Title,'Ratings':Ratings[0:10],'Price':Price[0:10]})
df#q7.First 10 laptops scrapping on "WWW.amazon.in"

                                               Title    Ratings   Price
0  ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...  3.1\n(12)  56,990
1  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....  3.7\n(29)  79,990
2  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...   4.5\n(9)  78,106
3  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...
4  Lenovo ThinkPad E14 Intel Core i7 12th Gen 14"...
5  ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms...
6  HP Victus Gaming Latest 12th Gen Intel Core i7...
7  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...
8  Lenovo IdeaPad Gaming 3 Intel Core i7-12700H 1...
9  Dell Alienware x14 Gaming Laptop, Intel i7-127...

In [40]:
driver.get("https://www.azquotes.com/")

In [42]:
Top_quotes=driver.find_element(By.XPATH,'//input[@class="ui-autocomplete-input"]')
Top_quotes.click()

In [43]:
Quote=[]
Author=[]
Type_of_quotes=[]

In [47]:
start=0
end=25
for page in range(start,end):
    quotes=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quotes:
        quotes=i.text
        Quote.append(quotes)
    authors=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in authors:
        authors=i.text
        Author.append(authors)
    Type=driver.find_elements(By.XPATH,'//div[@class="mytags"]')
    for i in Type:
        Type=i.text
        Type_of_quotes.append(Type)
next_button=driver.find_element(By.XPATH,'//li[@class="next"]')
next_button.click()
time.sleep(3)

In [48]:
print(len(Quote),len(Author),len(Type_of_quotes))

800 800 800

In [50]:
df=pd.DataFrame({'quotes':Quote,'Authors':Author,'Quote_Types':Type_of_quotes})
df #q8 1000 quotes on www.azquotes.com

,quotes,Authors,Quote_Types
0,"We shall not cease from exploration, and the e...",T. S. Eliot,"Inspirational, Funny, Life"
1,Most of the trouble in the world is caused by ...,T. S. Eliot,"Pride, People, Important"
2,Everyone gets the experience. Some get the les...,T. S. Eliot,Lessons
3,Only those who will risk going too far can pos...,T. S. Eliot,"Inspirational, Life, Motivational"
4,If we really want to pray we must first learn ...,T. S. Eliot,"Heart, Silence, Firsts"
...,...,...,...
795,We should not confuse information with knowledge.,T. S. Eliot,"Information, Should"
796,The circle of our understanding is a very rest...,T. S. Eliot,"Circles, Understanding, Areas"
797,"A wrong attitude toward nature implies, somewh...",T. S. Eliot,"Attitude, Creation, Wrong Attitude"
798,"If you aren't in over your head, how do you kn...",T. S. Eliot,"Adversity, Hard Times, Tough Times"
799,"A national culture, if it is to flourish, shou...",T. S. Eliot,"Culture, Benefits, Should"

In [51]:
driver.get("https://www.jagranjosh.com/")

In [53]:
gk=driver.find_element(By.XPATH,'/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a')
gk.click()

In [54]:
Indiagk=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[5]/div/div/ul/li[6]/a')
Indiagk.click()

In [55]:
all_prime_minsitersinIndia=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a')
all_prime_minsitersinIndia.click()

In [94]:
Name1=[]
Born_Dead1=[]
Terms_of_office=[]
Remarks=[]

In [77]:
name=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[2]/td[2]/p/strong/a')
a=name.text
a
name1=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[3]/td[2]/p')
b=name1.text
b
name2=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[4]/td[2]/p')
c=name2.text
c
name3=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[5]/td[2]/p')
d=name3.text
d
name4=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[6]/td[2]/p/strong/a')
e=name4.text
e
name5=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[7]/td[2]/p')
f=name5.text
f
name6=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[8]/td[2]/p')
g=name6.text
g
name7=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[9]/td[2]/p/strong/a')
h=name7.text
h
name8=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[10]/td[2]/p/a/strong')
i=name8.text
i
name9=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[11]/td[2]/p')
j=name9.text
j

'V. P. Singh'

In [78]:
print(a,b,c,d,e,f,g,h,i,j)

Jawahar Lal Nehru Gulzarilal Nanda (Acting) Lal Bahadur Shastri Gulzari Lal Nanda  (Acting) Indira Gandhi Morarji Desai Charan Singh Indira Gandhi Rajiv Gandhi V. P. Singh

In [79]:
name10=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[12]/td[2]/p')
k=name10.text
name11=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[13]/td[2]/p')
l=name11.text
name12=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[14]/td[2]/p/strong/a')
m=name12.text
name13=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[15]/td[2]/p')
n=name13.text
name14=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[16]/td[2]/p')
o=name14.text
name15=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[17]/td[2]/p/a/strong')
p=name15.text
name16=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[18]/td[2]/p/strong/a')
q=name16.text
name17=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[19]/td[2]/p/a/strong')
r=name17.text

In [80]:
print(k,l,m,n,o,p,q,r)

Chandra Shekhar P. V. Narasimha Rao Atal Bihari Vajpayee H. D. Deve Gowda Inder Kumar Gujral Atal Bihari Vajpayee Manmohan Singh Narendra Modi

In [106]:
Name1.append(a)
Name1.append(b)
Name1.append(c)
Name1.append(d)
Name1.append(e)
Name1.append(f)
Name1.append(g)
Name1.append(h)
Name1.append(i)
Name1.append(j)
Name1.append(k)
Name1.append(l)
Name1.append(m)
Name1.append(n)
Name1.append(o)
Name1.append(p)
Name1.append(q)
Name1.append(r)

In [107]:
Name1

['Jawahar Lal Nehru',
 'Gulzarilal Nanda (Acting)',
 'Lal Bahadur Shastri',
 'Gulzari Lal Nanda  (Acting)',
 'Indira Gandhi',
 'Morarji Desai',
 'Charan Singh',
 'Indira Gandhi',
 'Rajiv Gandhi',
 'V. P. Singh',
 'Chandra Shekhar',
 'P. V. Narasimha Rao',
 'Atal Bihari Vajpayee',
 'H. D. Deve Gowda',
 'Inder Kumar Gujral',
 'Atal Bihari Vajpayee',
 'Manmohan Singh',
 'Narendra Modi']

In [85]:
year1=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[2]/td[3]/p')
year2=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[3]/td[3]/p')
year3=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[4]/td[3]/p')
year4=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[5]/td[3]/p')
year5=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[6]/td[3]/p')
year6=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[7]/td[3]/p')
year7=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[8]/td[3]/p')
year8=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[9]/td[3]/p')
year9=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[10]/td[3]/p')
year10=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[11]/td[3]/p')
year11=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[12]/td[3]/p')
year12=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[13]/td[3]/p')
year13=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[14]/td[3]/p')
year14=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[15]/td[3]/p')
year15=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[16]/td[3]/p')
year16=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[17]/td[3]/p')
year17=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[18]/td[3]/p')
year18=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div[2]/div/div[1]/div/div/div/div[5]/span/div[2]/table/tbody/tr[19]/td[3]/p')

In [95]:
Born_Dead1.append(year1.text)
Born_Dead1.append(year2.text)
Born_Dead1.append(year3.text)
Born_Dead1.append(year4.text)
Born_Dead1.append(year5.text)
Born_Dead1.append(year6.text)
Born_Dead1.append(year7.text)
Born_Dead1.append(year8.text)
Born_Dead1.append(year9.text)
Born_Dead1.append(year10.text)
Born_Dead1.append(year11.text)
Born_Dead1.append(year12.text)
Born_Dead1.append(year13.text)
Born_Dead1.append(year14.text)
Born_Dead1.append(year15.text)
Born_Dead1.append(year16.text)
Born_Dead1.append(year17.text)
Born_Dead1.append(year18.text)

In [108]:
len(Name1)

18

In [109]:
df=pd.DataFrame({"Name":Name1,"Born_Dead":Born_Dead1})
df

                           Name     Born_Dead
0             Jawahar Lal Nehru   (1889–1964)
1     Gulzarilal Nanda (Acting)   (1898-1998)
2           Lal Bahadur Shastri   (1904–1966)
3   Gulzari Lal Nanda  (Acting)   (1898-1998)
4                 Indira Gandhi   (1917–1984)
5                 Morarji Desai   (1896–1995)
6                  Charan Singh   (1902–1987)
7                 Indira Gandhi   (1917–1984)
8                  Rajiv Gandhi   (1944–1991)
9                   V. P. Singh   (1931–2008)
10              Chandra Shekhar   (1927–2007)
11          P. V. Narasimha Rao   (1921–2004)
12         Atal Bihari Vajpayee  (1924- 2018)
13             H. D. Deve Gowda   (born 1933)
14           Inder Kumar Gujral   (1919–2012)
15         Atal Bihari Vajpayee   (1924-2018)
16               Manmohan Singh   (born 1932)
17                Narendra Modi   (born 1950)

In [115]:
driver.get("https://www.motor1.com/")

In [117]:
option=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div/div/div[3]/div/div/div/form/input')
option.send_keys('50 most expensive cars')

In [119]:
option1=driver.find_element(By.XPATH,'//button[@class="m1-search-panel-button m1-search-form-button-animate icon-search-svg"]')
option1.click()

In [121]:
url=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a')
url.get_attribute('href')

'https://www.motor1.com/features/308149/most-expensive-new-cars-ever/'

In [122]:
url.click()

In [123]:
Car_Name=[]
Car_Price=[]

In [124]:
name=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in name:
    name=i.text
    Car_Name.append(name)

In [125]:
Car_Name

['Drako GTE',
 'De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*',
 'Most Expensive Cars In The World']

In [126]:
pd.Series(Car_Name)

0                            Drako GTE
1                        De Tomaso P72
2                    Ferrari LaFerrari
3                        Pagani Huayra
4                         McLaren Elva
5                          Czinger 21C
6                        Ferrari Monza
7                   Gordon Murray T.33
8                    Koenigsegg Gemera
9                          Zenvo TSR-S
10                  Hennessey Venom F5
11                     Bentley Bacalar
12       Hispano Suiza Carmen Boulogne
13              Bentley Mulliner Batur
14                        Deus Vayanne
15                         SSC Tuatara
16                         Lotus Evija
17                 Aston Martin Vulcan
18                          Delage D12
19                   McLaren Speedtail
20                        Rimac Nevera
21                       Pagani Utopia
22                Pininfarina Battista
23                   Ferrari FXX K Evo
24                  Gordon Murray T.50
25                Lamborghini Countach
26            Mercedes-AMG Project One
27                 Aston Martin Victor
28         Hennessey Venom F5 Roadster
29                    Koenigsegg Jesko
30               Aston Martin Valkyrie
31           W Motors Lykan Hypersport
32                       McLaren Solus
33           Pagani Huayra Roadster BC
34            Bugatti Chiron Pur Sport
35                    Lamborghini Sian
36                    Koenigsegg CC850
37     Bugatti Chiron Super Sport 300+
38                  Lamborghini Veneno
39                      Bugatti Bolide
40                     Bugatti Mistral
41                 Pagani Huayra Imola
42                        Bugatti Divo
43                 SP Automotive Chaos
44                    Pagani Codalunga
45            Mercedes-Maybach Exelero
46                  Bugatti Centodieci
47                Rolls-Royce Sweptail
48            Bugatti La Voiture Noire
49              Rolls-Royce Boat Tail*
50    Most Expensive Cars In The World
dtype: object

In [ ]:
# Unable to PULL details of Price.