In [3]:
import sqlite3

In [4]:
db=sqlite3.connect('Customers_database.db')

In [5]:
cursor=db.cursor()

In [6]:
sql="Create TABLE customers(Customer_Number int PrimaryKey,Customer_Name text,contact_lastName text,contact_FirstName text,phone int,address_line1 text,address_line2 text,city text,state text,postal_code int,country text,SalesRep_Empl_number int,credit_limit int )"
db.execute(sql)

OperationalError: table customers already exists

In [8]:
sql="Create TABLE orders(order_Number int Primarykey,Order_Date text,required_date text,shipped_date text,status text,comments text,customer_Number int)"
db.execute(sql)

OperationalError: table orders already exists

In [10]:
cursor.execute("insert into orders(order_Number,Order_Date,required_date,shipped_date,status,comments,customer_Number)Values(110,10123,50123,10123,'shipped','shipped',9988776655)")
db.commit()
print(cursor.rowcount)

1

In [11]:
result=cursor.execute("select * from orders")
for rows in result:
    print(rows)

(110, '10123', '50123', '10123', 'shipped', 'shipped', 9988776655)

In [19]:
sql=cursor.execute("Select * from orders where comments=('shipped')")
for rows in sql:
    print(rows)

(110, '10123', '50123', '10123', 'shipped', 'shipped', 9988776655)

In [22]:
cursor.execute("insert into orders values(111,10123,40123,10123,'shipped','shipped',9988776654),(112,10123,30123,10123,'dispatched','yettoshipped',9988776653)")
db.commit()

In [23]:
result=cursor.execute("Select * from orders")
for rows in result:
    print(rows)

(110, '10123', '50123', '10123', 'shipped', 'shipped', 9988776655)
(111, '10123', '40123', '10123', 'shipped', 'shipped', 9988776654)
(112, '10123', '30123', '10123', 'dispatched', 'yettoshipped', 9988776653)

In [24]:
cursor.execute("insert into orders values(113,20123,40123,10123,'shipped','shipped',9988776651)")
db.commit()

In [25]:
result=cursor.execute("Select * from orders")
for rows in result:
    print(rows)

(110, '10123', '50123', '10123', 'shipped', 'shipped', 9988776655)
(111, '10123', '40123', '10123', 'shipped', 'shipped', 9988776654)
(112, '10123', '30123', '10123', 'dispatched', 'yettoshipped', 9988776653)
(113, '20123', '40123', '10123', 'shipped', 'shipped', 9988776651)

In [28]:
sql=cursor.execute("Select * from orders where Order_Date=('10123')")
for rows in sql:
    print("No of orders on 01/01/23:",rows)

No of orders on 01/01/23: (110, '10123', '50123', '10123', 'shipped', 'shipped', 9988776655)
No of orders on 01/01/23: (111, '10123', '40123', '10123', 'shipped', 'shipped', 9988776654)
No of orders on 01/01/23: (112, '10123', '30123', '10123', 'dispatched', 'yettoshipped', 9988776653)

In [56]:
db1=sqlite3.connect('employees_database.db')
cursor=db1.cursor()

In [15]:
sql=cursor.execute("Create table employees(emp_Number int PrimaryKey,last_name text,first_name text,extension int,email text,office_code int,reports_to text,job_title text)")

In [1]:
result=cursor.execute("insert into employees Values(800,'singh','dev',8000,'dev_singh@gmail.com',00,'shankar','jr_DS'),(801,'singh','jai',8001,'jai_singh@gmail.com',00,'shankar','Jr_DS'),(802,'thakur','meka',8002,'meka_thakur@gmail.com',01,'preethi','Sr_DS')")
db1.commit()

NameError: name 'cursor' is not defined

In [37]:
result=cursor.execute("Select * from employees")
for rows in result:
    print(rows)

(800, 'singh', 'dev', 8000, 'dev_singh@gmail.com', 0, 'shankar', 'jr_DS')
(801, 'singh', 'jai', 8001, 'jai_singh@gmail.com', 0, 'shankar', 'Jr_DS')
(802, 'thakur', 'meka', 8002, 'meka_thakur@gmail.com', 1, 'preethi', 'Sr_DS')
(800, 'singh', 'dev', 8000, 'dev_singh@gmail.com', 0, 'shankar', 'jr_DS')
(801, 'singh', 'jai', 8001, 'jai_singh@gmail.com', 0, 'shankar', 'Jr_DS')
(802, 'thakur', 'meka', 8002, 'meka_thakur@gmail.com', 1, 'preethi', 'Sr_DS')
(800, 'singh', 'dev', 8000, 'dev_singh@gmail.com', 0, 'shankar', 'jr_DS')
(801, 'singh', 'jai', 8001, 'jai_singh@gmail.com', 0, 'shankar', 'Jr_DS')
(802, 'thakur', 'meka', 8002, 'meka_thakur@gmail.com', 1, 'preethi', 'Sr_DS')
(800, 'singh', 'dev', 8000, 'dev_singh@gmail.com', 0, 'shankar', 'jr_DS')
(801, 'singh', 'jai', 8001, 'jai_singh@gmail.com', 0, 'shankar', 'Jr_DS')
(802, 'thakur', 'meka', 8002, 'meka_thakur@gmail.com', 1, 'preethi', 'Sr_DS')
(800, 'singh', 'dev', 8000, 'dev_singh@gmail.com', 0, 'shankar', 'jr_DS')
(801, 'singh', 'jai', 8001, 'jai_singh@gmail.com', 0, 'shankar', 'Jr_DS')
(802, 'thakur', 'meka', 8002, 'meka_thakur@gmail.com', 1, 'preethi', 'Sr_DS')
(800, 'singh', 'dev', 8000, 'dev_singh@gmail.com', 0, 'shankar', 'jr_DS')
(801, 'singh', 'jai', 8001, 'jai_singh@gmail.com', 0, 'shankar', 'Jr_DS')
(802, 'thakur', 'meka', 8002, 'meka_thakur@gmail.com', 1, 'preethi', 'Sr_DS')

In [14]:
result=cursor.execute("Select emp_Number,last_name,first_name from employees") 
for row in result:
    print("q6:",row)

OperationalError: no such table: employees

In [8]:
sql=("insert into customers Values(1000,'Bri','Bri','S',9884400001,'sk_apt','B_Block104','chennai','Tamilnadu',600044,'India',50,5000),(1001,'sri','sri','v',9884400002,'bk_apt','B_Block604','chennai','Tamilnadu',600043,'India',51,5000)")
db.execute(sql)

In [9]:
sql=("insert into customers Values(1002,'sha','sha','v',9884400003,'ak_aPt','C_Block702','Salem','TamilNadu',600042,'India',52,6000),(1003,'sap','sap','R',9884400004,'sk_apt','C_block905','trichy','Tamilnadu',600045,'India',56,7000)")
db.execute(sql)

In [10]:
result=cursor.execute("Select * from customers")
for rows in result:
    print(rows)

(1000, 'Bri', 'Bri', 'S', 9884400001, 'sk_apt', 'B_Block104', 'chennai', 'Tamilnadu', 600044, 'India', 50, 5000)
(1001, 'sri', 'sri', 'v', 9884400002, 'bk_apt', 'B_Block604', 'chennai', 'Tamilnadu', 600043, 'India', 51, 5000)
(1002, 'sha', 'sha', 'v', 9884400003, 'ak_aPt', 'C_Block702', 'Salem', 'TamilNadu', 600042, 'India', 52, 6000)
(1003, 'sap', 'sap', 'R', 9884400004, 'sk_apt', 'C_block905', 'trichy', 'Tamilnadu', 600045, 'India', 56, 7000)

In [13]:
result=cursor.execute("Select Customer_Number,Customer_Name from customers")
for rows in result:
    print("q7:",rows)

q7: (1000, 'Bri')
q7: (1001, 'sri')
q7: (1002, 'sha')
q7: (1003, 'sap')

In [17]:
result=cursor.execute("Select Customer_Name,SalesRep_Empl_number from customers")
for rows in result:
    print("q8:",rows)

q8: ('Bri', 50)
q8: ('sri', 51)
q8: ('sha', 52)
q8: ('sap', 56)

In [25]:
sql="Create Table Payments(Customer_Number int Primarykey,Cheque_Number int,Payment_Date text,Amount int,foreign Key(Customer_Number) references customers(Customer_Number)) "
db.execute(sql)

OperationalError: table Payments already exists

In [26]:
cursor.execute("insert into Payments Values(1000,12301,'01_01_2023',3000),(1001,12809,'02_01_2023',1500),(1002,15582,'03_01_2023',800),(1003,19265,'01_01_2023',1850)")
db.commit()

In [27]:
result=cursor.execute("Select * from Payments")
for rows in result:
    print(rows)

(1000, 12301, '01_01_2023', 3000)
(1001, 12809, '02_01_2023', 1500)
(1002, 15582, '03_01_2023', 800)
(1003, 19265, '01_01_2023', 1850)
(1000, 12301, '01_01_2023', 3000)
(1001, 12809, '02_01_2023', 1500)
(1002, 15582, '03_01_2023', 800)
(1003, 19265, '01_01_2023', 1850)

In [24]:
result=cursor.execute("Select * from  Payments where Customer_Number=(1001)")
for rows in result:
    print(rows)

(1001, 12809, '02_01_2023', 1500)

In [32]:
result=cursor.execute("Select * from customers where Customer_Number=(select Customer_Number from Payments where Cheque_Number=15582)")
for rows in result:
    print(rows)

(1002, 'sha', 'sha', 'v', 9884400003, 'ak_aPt', 'C_Block702', 'Salem', 'TamilNadu', 600042, 'India', 52, 6000)

In [31]:
result=cursor.execute("Select Amount from Payments where Payment_Date=('03_01_2023')")
for rows in result:
    print("q9:",rows)

q9: (800,)
q9: (800,)

In [33]:
sql="Create Table Products(Product_code int PrimaryKey,Product_name text,Product_Line text,Product_scale int,Product_vendor text,Product_dis text,Quantity_in_stock int,Buy_price text,MSRP text)"
db.execute(sql)

In [34]:
sql="insert into Products Values(01,'spray','guj',0.25,'skj','body_spray',5,'Rs.300','Rs.250'),(10,'Phone','Del',3.0,'mgk','Mobile_phone',14,'Rs.25500','Rs.23200'),(00,'Spray','guj',0.25,'skj','body_spray',5,'Rs.300','Rs.250')"
db.execute(sql)

In [36]:
result=cursor.execute("Select * from Products")
for rows in result:
    print(rows)

(1, 'spray', 'guj', 0.25, 'skj', 'body_spray', 5, 'Rs.300', 'Rs.250')
(10, 'Phone', 'Del', 3, 'mgk', 'Mobile_phone', 14, 'Rs.25500', 'Rs.23200')
(0, 'Spray', 'guj', 0.25, 'skj', 'body_spray', 5, 'Rs.300', 'Rs.250')

In [38]:
result=cursor.execute("Select Product_name,Product_dis,MSRP from Products")
for rows in result:
    print("q10:",rows)

q10: ('spray', 'body_spray', 'Rs.250')
q10: ('Phone', 'Mobile_phone', 'Rs.23200')
q10: ('Spray', 'body_spray', 'Rs.250')

In [43]:
result=cursor.execute("Select Product_name,Product_dis from Products where Product_Line=('guj') ")
for rows in result:
    print("q12:",rows)

q12: ('spray', 'body_spray')
q12: ('Spray', 'body_spray')

In [45]:
sql="insert into Products Values(01,'spray','guj',0.25,'skj','body_spray',4,'Rs.300','Rs.250')"
db.execute(sql)

In [47]:
result=cursor.execute("Select Product_name,Product_dis from Products where Product_code=(01)")
for rows in result:
    print("q11:",rows)

q11: ('spray', 'body_spray')
q11: ('spray', 'body_spray')

In [52]:
result=cursor.execute("Select Amount from Payments where Customer_Number=(Select Customer_Number from customers(where Order_Date=('10123') from orders) )")
for rows in result:
    print(rows)

OperationalError: near "where": syntax error

In [61]:
db1=sqlite3.connect('employees_database.db')
cursor=db1.cursor()
result=cursor.execute("Select emp_Number,first_name,last_name from employees")
for rows in result:
    print(rows)